:root {
    /* Colores para modo claro */
    --background-color: #ffffff;
    /* Blanco puro para fondo */
    --primary-color: #005f73;
    /* Azul profundo, profesional */
    --secondary-color: #0a9396;
    /* Verde azulado suave */
    --text-color: #001219;
    /* Gris oscuro profundo para texto */
    --tab-color: #f4f4f4;
    /* Gris muy claro para pestañas */
    --tab-active-color: #005f73;
    /* Azul profundo activo */
    --chart-background: #ffffff;
    /* Blanco para gráficos */
    --chart-border: #e0e0e0;
    /* Gris claro para bordes */
    --table-even: #f9f9f9;
    /* Fila par gris claro */
    --table-hover: #e3f2fd;
    /* Azul muy claro al pasar por encima */
    --table-odd: #ffffff;
    /* Fila impar blanca */
}

.dark-mode {
    /* Colores para modo oscuro */
    --background-color: #121212;
    /* Negro suave para fondo */
    --primary-color: #028090;
    /* Azul profundo y profesional */
    --secondary-color: #b08968;
    /* Marrón suave para contraste */
    --text-color: #d6d6d6;
    /* Gris claro para texto */
    --tab-color: #1e1e1e;
    /* Gris oscuro para pestañas */
    --tab-active-color: #028090;
    /* Azul profundo activo */
    --chart-background: #1a1a1a;
    /* Fondo oscuro para gráficos */
    --chart-border: #2c2c2c;
    /* Gris medio oscuro para bordes */
    --table-even: #1e1e1e;
    /* Fila par gris oscuro */
    --table-hover: #3a5a6e;
    /* Azul grisáceo al pasar por encima */
    --table-odd: #181818;
    /* Fila impar negro suave */
}




/* General */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

a {
    text-decoration: none;
}

/* Pestañas */
.tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tab-color);
    padding: 10px 20px;
    border-bottom: 2px solid var(--chart-border);
}

.tab-buttons {
    display: flex;
    gap: 10px;
}

/* Botón de modo oscuro */
.theme-toggle button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.theme-toggle button:hover {
    background-color: var(--secondary-color);
}

#theme-toggle {
    font-size: 1rem;
    /* Tamaño estándar */
    padding: 8px 15px;
    /* Espaciado estándar */
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #212529;
    border: 1px solid #dee2e6;
    cursor: pointer;
}

/* Contenedor principal */
a {
    display: none;
}

.tabcontent {
    display: none;
    padding: 20px;
    background-color: var(--chart-background);
    border: 1px solid var(--chart-border);
    border-radius: 8px;
    margin: 10px;
}

.tabcontent.show {
    display: block;
    opacity: 1;
}

/* Botones de pestañas */
.tablink {
    background-color: var(--tab-color);
    color: var(--text-color);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tablink:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

.tablink.active {
    background-color: var(--tab-active-color);
    color: #fff;
}

/* Contenedor de datos actuales */
.current-data-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 10px;

}


#disclaimer {
    margin-top: 20px;
    text-align: center;
    background-color: var(--background-color);
    border: 1px solid var(--secondary-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
}

#disclaimer img {
    width: 300px;
    height: 500px;
    margin-bottom: 10px;
}

.show-disclaimer {
    display: block;
}

.hidden {
    display: none;
}

/* Tarjetas de datos */
.data-card {
    background-color: var(--chart-background);
    border: 1px solid var(--chart-border);
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.data-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Íconos en tarjetas */
.data-icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--primary-color);
}

/* Información en tarjetas */
.data-info h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color: var(--text-color);
}

.data-info p {
    font-size: 34px;
    font-weight: bold;
    color: var(--primary-color);
}

/* Gráficos */

/* Contenedor del formulario */
#dateFilter {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Etiquetas de los campos */
#dateFilter label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
}

/* Inputs de fecha y hora */
#dateFilter input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--tab-color);
    border-radius: 4px;
    font-size: 14px;
    background-color: var(--background-color);
    color: var(--text-color);
}

#dateFilter input[type="datetime-local"]:focus {
    border-color: var(--primary-color);
    outline: none;
}

/* Botón de submit */
#dateFilter button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#dateFilter button[type="submit"]:hover {
    background-color: var(--secondary-color);
}


/* Estilo de los contenedores de datos */
.raintotalcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.rain-data-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    margin-bottom: 30px;
    margin-top: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rain-data-icon {
    font-size: 40px;
    margin-right: 20px;
}

.rain-data-info {
    text-align: center;
}

.rain-data-info h3 {
    margin: 0;
    font-size: 1.5em;
}

#totalRainData {
    font-size: 2.4em;
    font-weight: bold;
}

/* Estilos para el formulario en dispositivos pequeños */
@media (max-width: 600px) {
    #dateFilter {
        width: 100%;
        padding: 15px;
    }

    #dateFilter button[type="submit"] {
        font-size: 14px;
    }

    .rain-data-container {
        width: 90%;

    }
}

.chart-container {
    height: 400px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--chart-background);
    border: 1px solid var(--chart-border);
    border-radius: 8px;
}

/* Datos actuales */
#datosActuales p {
    font-size: 18px;
    margin: 10px 0;
}

.chart {
    margin-bottom: 20px;
    /* Añadido el margen inferior */
}



#prevision-container {
    width: 80%;
    margin: 20px auto;
    background-color: var(--chart-background);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: var(--text-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid var(--chart-border);
}

th {
    background-color: var(--tab-color);
    color: var(--text-color);
}

tbody tr:nth-child(odd) {
    background-color: var(--table-odd);
}

tbody tr:hover {
    background-color: var(--table-hover);
}

/* Estilo general de las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
    background-color: var(--background-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table thead tr {
    background-color: var(--secondary-color);
    color: var(--background-color);
    text-align: center;
    font-weight: bold;
}

table th,
table td {
    padding: 12px 15px;
    border: 1px solid var(--chart-border);
}

table tbody tr:nth-child(even) {
    background-color: var(--table-even);
}

table tbody tr:hover {
    background-color: var(--table-hover);
}

/* Botón de carga */
#fetchForecastBtn {

    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

#fetchForecastBtn:hover {
    background-color: var(--secondary-color);
}

#fetchForecastBtn:active {
    background-color: var(--secondary-color);
}

/* Estilo para el contenedor de carga */
#loading {
    font-size: 1.5em;
    color: #007bff;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

/* Animación de pulsación para el texto */
@keyframes pulse {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

/* Contenedor de carga */
.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* Pequeño espaciado entre el spinner y el texto */
    background-color: var(--chart-background);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilo del spinner moderno */
.spinner-modern {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 4px solid var(--tab-color);
    /* Borde gris */
    border-top: 4px solid var(--primary-color);
    /* Borde animado con color */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animación de giro */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Estilo del texto */
.loading p {
    margin: 0;
    font-size: 14px;
    color: var(--primary-color);
}



/* Responsividad */
@media (max-width: 768px) {
    .tablink {
        font-size: 14px;
        padding: 8px 12px;
    }

    .chart-container {
        height: 300px;
    }

    .data-card {
        width: 150px;
    }

    .data-info h3 {
        font-size: 16px;
    }


}

@media (max-width: 550px) {
    .tablink {
        font-size: 18px;
        padding: 8px 10px;
    }

    .chart-container {
        height: 250px;
    }

    .data-card {
        width: 100%;
    }


    #theme-toggle {
        font-size: 0.5rem;
        /* Reduce el tamaño del texto */
        padding: 4px 6px;
        /* Reduce el espaciado */
    }

    .rain-data-container {
        width: 100%;

    }

}